@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1e3a8a;
  --secondary-color: #64748b;
  --background-light: #f8fafc;
  --text-color-light: #1f2937;
  --border-radius: 8px;
  --background: #111827; /* Tailwind의 bg-gray-900 색상 */
  --foreground: #ffffff;
}

@layer base {
  html,
  body {
    background-color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: #111827; /* 검은 배경 */
  }

  main {
    flex: 1;
    min-height: 100vh; /* 화면 전체 높이 채우기 */
    background-color: #111827; /* 배경색 */
  }
}
